
@{
    ViewBag.Title = "Verificar";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Verificar</h2>
<h3>Porfavor verifique su correo electronico para poder ingresar ala pagina</h3>

