@model IEnumerable<MRP_Ratboy.Models.PlacaMadre>

    <div class="container">
        <div class="container">
            <div><strong>Primera generacion</strong></div>
            <div>
                @Html.DropDownList("idTamaño_FK", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="container">
            <div><strong>Segunda Generacion generacion</strong></div>
            <div>
                @Html.DropDownList("idTamaño_FK", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

    </div>