
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="col-md-12">
    <div class="container-process">
        <div class="row">
            <div class="col-md-2 process-lista">
                <h1>1) Tarjeta Madre</h1>
                <h1>2) Procesador</h1>
                <h1>3) disipador</h1>
                <h1>4) RAM</h1>
                <h1>5) Almacenamiento</h1>
                <h1>6) Gabinete</h1>
                <h1>7) Fuente Poder</h1>
            </div>

            <div class="col-md-7 component-container">

            </div>

            <div class="col-md-2 process-lista-info">
                <h1>1) Tarjeta Madre</h1>
                <h1>2) Procesador</h1>
                <input type="button" value="Pagar" class="btn btn-primary btn-sm btn-sell"/>
            </div>
        </div>
    </div>
</section>

<link href="~/Content/css/estilos-compatible.css" rel="stylesheet" />