@model IEnumerable<MRP_Ratboy.Models.tarjetaVideo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenuCliente.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/css/estilos-compatible.css" rel="stylesheet" />
</head>

<body style="margin-top:70px">
    <section class="card custom-card-content">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2 design-process-content" style="padding:10px; margin:10px ;background: rgba(4, 130, 144, 1); color: #fff">
                    <h1><input type="checkbox" id="check-tarjetaMadre"/> Tarjeta Madre</h1>
                    <h1><input type="checkbox" id="check-procesador"/> Procesador</h1>
                    <h1><input type="checkbox" id="check-disipador"/> disipador</h1>
                    <h1><input type="checkbox" id="check-ram"/> RAM</h1>
                    <h1><input type="checkbox" id="check-tarjetaVideo"/> Tarjeta de Video</h1>
                    <h1><input type="checkbox" id="check-almacenamiento"/> Almacenamiento</h1>
                    <h1><input type="checkbox" id="check-gabinete"/> Gabinete</h1>
                    <h1><input type="checkbox" id="check-fuentePoder"/> Fuente Poder</h1>
                </div>

                <div class="col-md-7">
                    <div class="row">

                        <div class="content-component-div row" id="content-component-div"></div>

                    </div>
                </div>

                <div class="col-md-2 design-process-content" style="padding:10px; margin:10px ;background: rgba(4, 130, 144, 1); color: #fff">
                    <h1>1) Tarjeta Madre</h1>
                    <h1>2) Procesador</h1>
                    <input type="button" value="Pagar" class="btn btn-primary btn-sm btn-sell" />
                </div>

            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/RatBoyScripts/Compatibilidad.js"></script>
</body>
</html>