@model IEnumerable<MRP_Ratboy.Models.PlacaMadre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @Html.DropDownList("idPlacaMadre", new SelectList(Model,"idPlacaMadre","nombre"),"hola",null);
</div>