@model IEnumerable<MRP_Ratboy.Models.tarjetaVideo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenuCliente.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/css/estilos-compatible.css" rel="stylesheet" />
</head>
<body>
    <section class="card custom-card-content">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2 process-lista">
                    <h1>1) Tarjeta Madre</h1>
                    <h1>2) Procesador</h1>
                    <h1>3) disipador</h1>
                    <h1>4) RAM</h1>
                    <h1>5) Tarjeta de Video</h1>
                    <h1>6) Almacenamiento</h1>
                    <h1>7) Gabinete</h1>
                    <h1>8) Fuente Poder</h1>
                </div>

                <div class="col-md-7">
                    <div class="row">

                        <div class="content-component-div row" id="content-component-div"></div>

                    </div>
                </div>

                <div class="col-md-2 process-lista-info">
                    <h1>1) Tarjeta Madre</h1>
                    <h1>2) Procesador</h1>
                    <input type="button" value="Pagar" class="btn btn-primary btn-sm btn-sell" />
                </div>

            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/RatBoyScripts/Compatibilidad.js"></script>
</body>
</html>